/* You can add global styles to this file, and also import other style files */
@use "./partials" as *;

:root {
  --main-bg-color: #fffffff1;
  --main-color: #050505;
  --color-scheme: light;
  --secondary-bg-color: #f5f5f5;
  --primary-purple: rgb(165, 69, 239);
  --font-family: sans-serif;
}

// @font-face {
//   font-family: Inter;
//   font-style: normal;
//   font-weight: 400;
//   src: local(Inter),
//     url(../design/assets/fonts/Inter-Regular.ttf) format("truetype");
//   font-display: swap;
// }

// @font-face {
//   font-family: Inter;
//   font-style: normal;
//   font-weight: 700;
//   src: local(Inter),
//     url(../design/assets/fonts/Inter-Bold.ttf) format("truetype");
//   font-display: swap;
// }

// @font-face {
//   font-family: Inconsolata;
//   font-style: normal;
//   font-weight: 400;
//   src: local(Inter),
//     url(../design/assets/fonts/Inconsolata-Regular.ttf) format("truetype");
//   font-display: swap;
// }

// @font-face {
//   font-family: Inconsolata;
//   font-style: normal;
//   font-weight: 700;
//   src: local(Inter),
//     url(../design/assets/fonts/Inconsolata-Bold.ttf) format("truetype");
//   font-display: swap;
// }

// @font-face {
//   font-family: Lora;
//   font-style: normal;
//   font-weight: 400;
//   src: local(Inter),
//     url(../design/assets/fonts/Lora-Regular.ttf) format("truetype");
//   font-display: swap;
// }

// @font-face {
//   font-family: Lora;
//   font-style: normal;
//   font-weight: 700;
//   src: local(Inter),
//     url(../design/assets/fonts/Lora-Bold.ttf) format("truetype");
//   font-display: swap;
// }

// @font-face {
//   font-family: Lora;
//   font-style: italic;
//   font-weight: 700;
//   src: local(Inter),
//     url(../design/assets/fonts/Lora-BoldItalic.ttf) format("truetype");
//   font-display: swap;
// }
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-family);
}

.dark-mode {
  --main-bg-color: #050505;
  --main-color: #fffffff1;
  --secondary-bg-color: #1f1f1f;
  --color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  color-scheme: var(--color-scheme);
  transition: background-color 0.5s, color 0.5s;
}

.container {
  width: min(90%, 820px);
  margin-inline: auto;
}