:root{
    --background-color: white;
    --primary-color: rgb(103, 58, 183);
    --accent: rgb(245, 207, 61);
    --text-color: black;
}

.dark-mode{
    --background-color: rgb(35, 39, 46);
    --text-color: white;
}