.search {
  margin-top: 4rem;
  &__label {
    position: relative;
  }
  &__button {
    position: absolute;
    border: 0;
    // top: -12px;
    // padding: 11px;
    // padding: 13px;
    bottom: 7.5px;
    transform: translateY(50%);
    background-color: var(--secondary-bg-color);
    right: 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 0;
  }
  &__input {
    font-size: clamp(1rem, 2vw, 1.25rem);
    width: 100%;
    border: 0;
    outline: none;
    padding: clamp(1rem, 2vw, 1.25rem);
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    position: relative;
    &:focus {
      outline: 2px solid var(--main-color);
    }
  }
}
