.btn {
  color: white;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 3px 5px #d6dfeb;
  position: relative;
}
.btn:active {
  transform: translate(-2px, -2px);
}
.btn--nav {
  background-color: transparent;
  border: 0;
  font-size: 0.75em;
  border: 2px solid hsl(321, 100%, 78%);
  font-weight: 600;
  padding: 0.3em 1em;
  color: hsl(321, 100%, 78%);
}
.btn--nav:hover::before, .btn--nav:focus::before {
  opacity: 1;
  transform: scaleX(1);
}
.btn--nav:active {
  transform: none;
}
.btn--nav:active::before {
  transition: transform 0.1s ease-in-out;
  transform: scaleX(0);
}
.btn--nav::before {
  transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1);
  background-color: hsl(321, 100%, 78%);
  border-radius: 0px;
  content: "";
  left: 5px;
  bottom: 0;
  width: calc(100% - 10px);
  height: 2px;
  position: absolute;
  transform: scaleX(0);
  transform-origin: center;
  z-index: -1;
  opacity: 0.05;
}
.btn--get-started {
  margin: 1rem auto;
  transition: background-position 1s, transform 0.1s;
  font-weight: 600;
  padding: 0.8rem 2rem;
  color: white;
  border: 0;
  background-image: linear-gradient(45deg, hsl(323, 94%, 20%), hsl(323, 83%, 32%), hsl(322, 100%, 66%), hsl(321, 100%, 78%));
  background-size: 200%;
  background-position: left;
}
.btn--get-started:hover, .btn--get-started:focus {
  background-position: right;
}
.btn--newsteller {
  margin-left: auto;
  width: 50%;
  transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1), transform 0.1s;
  font-weight: 700;
  padding: 0.7rem 0rem;
  border: 0;
  color: hsl(322, 100%, 66%);
  border-radius: 5px;
  background-color: white;
  box-shadow: none;
  z-index: 99;
}
.btn--newsteller:hover {
  color: white;
}
.btn--newsteller:hover::before {
  transform: scale(1);
  opacity: 1;
}
.btn--newsteller::before {
  transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1);
  background-color: hsl(322, 100%, 66%);
  border-radius: 5px;
  content: "";
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
  opacity: 0.05;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 80%;
  margin: auto auto;
}

.row {
  display: flex;
  align-items: center;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

.nav {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  display: flex;
  align-items: center;
  margin: 1rem 1em;
}
.nav__brand {
  margin-right: auto;
}

.icon {
  width: auto;
  height: 1em;
  margin-right: 0.25rem;
}

main {
  padding: 5em 0;
  text-align: center;
  margin: 0 auto;
}

p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 500;
}

.intro h1 {
  font-size: clamp(1.5rem, 4vw, 2.25rem);
}
.intro__paragraph {
  margin: 1rem auto;
  width: min(90%, 500px);
}
.intro__img {
  margin: 6rem auto;
}
.intro__card {
  position: relative;
}
.intro__card img {
  width: 2em;
  position: absolute;
  inset: 1;
  top: -25%;
}
.intro__card--wrapper {
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.intro__card--wrapper h2 {
  font-size: 3rem;
  display: inline;
}
.intro__card--wrapper p {
  color: grey;
}
.intro__card--wrapper p#message-sent {
  width: 30%;
  margin: 0 auto;
}

.body {
  margin-top: 10rem;
  padding: 4rem 0;
}
.body h2 {
  margin-bottom: 1rem;
}
.body__info {
  fill: #f5faff;
  margin-bottom: 10rem;
  position: relative;
  padding: 5rem 0rem;
}
.body__info--blue-bg {
  background-color: #f5faff;
}
.body__info--1::before {
  content: "";
  width: 100%;
  height: 10rem;
  display: block;
  position: absolute;
  left: 0;
  top: -10rem;
  background-image: url("../images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.body__info--1::after {
  content: "";
  width: 100%;
  height: 10rem;
  display: block;
  position: absolute;
  fill: #f5faff;
  left: 0;
  bottom: -10rem;
  background-image: url("../images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.body__info--3::before {
  content: "";
  width: 100%;
  height: 10rem;
  display: block;
  position: absolute;
  left: 0;
  top: -10rem;
  background-image: url("../images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.body__info--3::after {
  content: "";
  width: 100%;
  height: 10rem;
  display: block;
  position: absolute;
  fill: #f5faff;
  left: 0;
  bottom: -10rem;
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.body__info__content {
  margin: 4rem 0rem;
  order: 2;
}
.body__call-to-action {
  margin: 7.5rem auto;
}

.footer {
  position: relative;
  background-color: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
  padding: 4rem 0rem;
}
.footer::before {
  content: "";
  width: 100%;
  height: 4rem;
  display: block;
  position: absolute;
  left: 0;
  top: -3rem;
  background-image: url("../images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer--flex {
  display: flex;
  flex-direction: column;
}
.footer__contact {
  margin-top: 6rem;
  order: 2;
}
.footer__contact__title {
  font-size: 2rem;
}
.footer__contact__title img {
  height: 0.75em;
}
.footer__contact__text {
  margin-bottom: 3rem;
}
.footer__contact__phone, .footer__contact__mail {
  gap: 1rem;
}
.footer__contact__phone {
  margin-bottom: 1rem;
}
.footer__newsteller {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__newsteller__form {
  display: flex;
  flex-direction: column;
}
.footer__newsteller__input {
  width: 100%;
  border: 0;
  outline: none;
  padding: 0.7rem 0.5rem;
  border-radius: 3px;
  margin-bottom: 1rem;
}/*# sourceMappingURL=style.css.map */