@use '../abstracts/' as *;

.card {
    h1 {
        font-size: 1.7rem;
        margin: 1rem auto;
    }

    background-color: $card-bg-color;
    width: min(90%, 375px);
    margin-inline: auto;
    border-radius: 1rem;
    padding: 1rem 0rem;

    &>* {
        margin: 1rem auto;
        width: 85%;
    }

    &__button {
        font-weight: 700;
        padding: .85rem;
        width: 100%;
        border: 0;
        color: $White;
        letter-spacing: .15rem;
        border-radius: 50px;
        cursor: pointer;
        background-color: $Orange;
        font-size: .85rem;
        transition: .25s;

        &:hover,
        &:focus {
            background-color: $White;
            color: $Orange;
        }

        &:active {
            opacity: .75;
        }

    }

    &__ratings {
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        color: $Medium-Grey;
        user-select: none;
        margin: 1.5rem auto;
    }

    &__rating__points {
        transition: .25s;
        cursor: pointer;

        &.selected {
            background-color: $Light-Grey;
            color: $White;
        }

        &:hover {
            background-color: $Orange;
            color: $White;
        }

        &:active,
        &:focus {
            background-color: $Light-Grey;
        }
    }

    &__header--image {
        max-width: 100%;
        background-color: $Dark-Blue;
        border-radius: 50%;
        padding: 1rem;
    }

    &__header--paragraph {
        color: $Light-Grey;
    }
}

@media (min-width: 768px) {
    .card {
        border-radius: 1.75rem;

        &__button {
            padding: .75rem;
        }
    }
}