<main>
    <section #definitions class="container definitions">
        <div #definitionHead class="definitions__head">
            <h1>{{wordTitle}}</h1>
            <div class="phonetic-and-audio--wrapper" *ngFor="let word of wordResponse">
                <div class="phonetic-and-audio" *ngFor="let phonetic of word.phonetics | filterPhonetics">
                    <span class="phonetic-and-audio__text">
                        {{phonetic.text}}
                    </span>
                    <div (click)="playSound(phonetic.audio)">
                        <img src="../../assets/icon-play.svg">
                        <!-- {{phonetic.audio}} -->
                    </div>
                </div>
            </div>
        </div>
        <div #definitionBody class=" definitions__body">
            <div *ngFor="let word of wordResponse">
                <div *ngFor="let meaning of word.meanings">
                    <h3>{{meaning.partOfSpeech}}</h3>
                    <ul *ngFor="let definition of meaning.definitions">
                        <li>
                            {{definition.definition}}
                            <p *ngIf="definition.example">{{definition.example}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>