@use './asbtracts/' as *;
// @use './asbtracts/variables' as *;
// @use './asbtracts/mixings' as *;

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}


body {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: $light-grayish-cyan;
}

label[for="bill"] {
    display: block;
    color: $dark-grayish-cyan;
    margin: .5rem auto;
}


.calculator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto 0;

    &__header {
        text-align: center;
        color: $dark-grayish-cyan;
        letter-spacing: 1rem;
    }

    &__body {
        padding: 2rem 0;
        background-color: $white;
        @include border-top(1.75rem);
    }

    &__settings {
        width: 80%;
        margin-inline: auto;
    }

    &__tip-select {
        color: $dark-grayish-cyan;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, minmax(50px, 1fr));
        gap: 1rem;
        grid-template-areas:
            "h2 h2"
            "opt-1 opt-2"
            "opt-3 opt-4"
            "opt-5 custom";

        @for $i from 1 through 5 {
            &__options:nth-child(#{$i}n+1) {
                grid-area: opt-#{$i};
            }
        }

        h3 {
            grid-area: h2;
            margin: 0;
            padding: 0;
            margin-top: auto;
        }

        &__options--custom {
            grid-area: custom;
            width: 100%;
        }
    }



    &__tip-select__options {
        background-color: $very-dark-cyan;
        color: $white;
        @include button-basic-style(2rem, .5rem);
    }

    &__people-count {
        margin: 2rem auto;

        &__label {
            display: flex;
        }

        &__validation {
            margin-left: auto;
            visibility: hidden;
            color: $invalid;
        }
    }

    &__output {
        background-color: $very-dark-cyan;
        padding-top: 2rem;
        border-radius: 1rem;
        width: 90%;
        margin-inline: auto;

        &>* {
            width: 85%;
            margin-inline: auto;
            margin-bottom: 2rem;
        }

        &-digits {
            font-size: 3rem;
            color: $primary-strong-cyan;
        }

        &__results {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>*:first-child {
                color: $white;
                font-size: 1.25rem;
            }
        }

        &__button {
            width: 100%;
            background-color: $primary-strong-cyan;
            color: $very-dark-cyan;
            @include button-basic-style(1.5rem, .5rem);
            padding: .5rem 0rem;
            margin-bottom: 1.5rem;
        }
    }
}

.person {
    color: $grayish-cyan;
    font-size: 1rem;
}

@media (min-width: 728px) {
    .calculator {

        &__body {
            padding-inline: 2rem;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            border-radius: 1.5rem;
        }

        &__output {
            display: flex;
            flex-direction: column;

            &__button--wrapper {
                margin-top: auto;
            }
        }
    }
}