@use './abstracts' as *;

$animation-timing-func: cubic-bezier(.77,0,.18,1);
.attribution {
    font-size: 11px; text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}
.container{
    width: 80%;
    margin: auto auto;
}
.row{
    display: flex;
    align-items: center;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
@keyframes flip{
    0%{
        transform: rotate(0deg);
        scale: 0;
    }
    100%{
        transform: rotate(-360deg);
        scale: 1;
    }
}
@keyframes slide{
    0%{
        transform: translateX(-110%);
    }
    100%{
        transform: translateX(0);
    }
}
body{
    font-family: 'Open Sans', sans-serif;

}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
.nav{
    animation: slide 1s $animation-timing-func;
    font-size: clamp(1.25rem, 4vw, 1.5rem);
    display: flex;
    align-items: center;
    margin: 1rem 1em;
    &__brand{
        margin-right: auto;
    }

}
.icon{
    width: auto;
    height: 1em;
    margin-right: .25rem;
}
main{
    padding: 5em 0;
    text-align: center;
    // width: 80%;
    margin: 0 auto;
}
p{
    font-size: clamp(.8rem, 2vw, 1rem);
    font-weight: 500;
}

.intro{
    animation: flip 1s $animation-timing-func;
    h1{
        font-size: clamp(1.5rem, 4vw, 2.25rem);
    }
    &__paragraph{
        margin: 1rem auto;
        width: min(90%, 500px);
    }
    &__img{
        margin: 6rem auto;
    }
    &__card{
        position: relative;
        img{
            width: 2em;
            position: absolute;
            inset: 1;
            top: -25%;
        }
        &--wrapper{
            padding: 4rem 0rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            h2{
                font-size: 3rem;
                display: inline;
            }
            p{
                color: grey;
                &#message-sent{
                    width: 30%;
                    margin: 0 auto;
                }
            }
        }
    }
}

.body{
    margin-top: 15rem;
    padding: 4rem 0;
    h2{
        margin-bottom: 1rem;
    }
    &__info{
        margin-bottom: 15rem;
        position: relative;
        padding: 5rem 0rem;
        &--blue-bg{
            background-color: #f5faff;
        }
        &--1{
            @include bg-section-before(
                10rem,
                0,
                -10rem,
                '../images/bg-section-top-mobile-1.svg'
            );
            @include bg-section-after(
                10rem,
                0,
                -10rem,
                '../images/bg-section-bottom-mobile-1.svg'
            );
        }
        &--3{
            @include bg-section-before(
                10rem,
                0,
                -10rem,
                '../images/bg-section-top-mobile-2.svg'
            );
            @include bg-section-after(
                10rem,
                0,
                -10rem,
                '../images/bg-section-bottom-mobile-2.svg'
            );
        }
        &__content{
            margin: 4rem 0rem;
            order: 2;
        }
    }
    &__call-to-action{
        margin: 7.5rem auto;
    }
}
.footer{
    position: relative;
    background-color: $neutral-very-dark-cyan;
    color: $neutral-very-pale-blue;
    padding: 2rem 0rem;
    @include bg-section-before(
            4rem,
            0,
            -3rem,
            '../images/bg-footer-top-mobile.svg');
    &--flex{
        display: flex;
        flex-direction: column;
    }
    &__contact{
        margin-top: 6rem;
        order: 2;
        &__title{
            font-size: 2rem;
            img{
                height: .75em;
            }
        }
        &__text{
            margin-bottom: 3rem;
        }
        &__phone, &__mail{
            gap: 1rem;
        }
        &__phone{
            margin-bottom: 1rem;
        }
    }
    &__newsteller{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__form{
            display: flex;
            flex-direction: column;
        }
        &__input{
            width: 100%;
            border: 0;
            outline: none;
            padding: .7rem .5rem;
            border-radius: 3px;
            margin-bottom: 1rem;
        }
    }
}
@media (min-width: 40rem) {
    :root{
        font-size: 20px;
    }
    .btn{
        &--get-started{
            font-size: 1rem;
            padding-inline: 3em;
            padding-block: 1em;
        }
    }
    .nav{
        margin: 1.5em 3em;
    }
    .intro {
        &__card{
            img{
                top: -10%;
            }
            &--wrapper{
                flex-direction: row;
                justify-content: center;
                gap: 10rem;
                h2{
                    font-size: 5rem;
                }
            }
        }
    }
    .body{
        &__info{
            margin-bottom: 10rem;
            &--blue-bg{
                padding: 5rem 0rem;
            }
            .container{
                display: flex;
                align-items: center;
            }
            &__content{
                text-align: left;
                order: 0;
                & > * {
                    width: 70%;
                }
            }
            &__img{
                width: 60%;
            }
            &--1{
                @include bg-section-before(
                    20rem,
                    0,
                    -20rem,
                    '../images/bg-section-top-desktop-1.svg'
                );
                @include bg-section-after(
                    10rem,
                    0,
                    -10rem,
                    '../images/bg-section-bottom-desktop-1.svg'
                );
            }
            &--2 &__content{
                & > * {
                    margin-left: auto;
                }
            }
            &--3{
                @include bg-section-before(
                    15rem,
                    0,
                    -15rem,
                    '../images/bg-section-top-desktop-2.svg'
                );
                @include bg-section-after(
                    10rem,
                    0,
                    -10rem,
                    '../images/bg-section-bottom-desktop-2.svg'
                );
            }
        }
    }

    .footer{
        padding: 1rem 0;
        @include bg-section-before(
            12rem,
            0,
            -12rem,
            '../images/bg-footer-top-desktop.svg');
        &--flex{
            flex-direction: row;
            justify-content: space-between;
        }
        &__contact{
            margin: 0;
            width: 40%;
        }
        &__newsteller{
            margin: 0;
            order: 2;
            width: 40%;
            &__form{
                flex-direction: row;
                align-items: center;
                gap: 10%;
            }
            &__input{
                margin-bottom: 0;
                margin-right: auto;
            }
        }
    }
}