@use './variables' as *;
@use './mixings' as *;
.btn{
    color: white;
    transition: all .25s;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 3px 5px #d6dfeb;
    position: relative;
    &:active{
        transition: all .05s;
        transform: translate(-2px, -2px);
    }
    &--nav{
        background-color: transparent;
        border: 0;
        font-size: .75em;
        border: 2px solid $primary-light-pink;
        font-weight: 600;
        padding: .3em 1em;
        color: $primary-light-pink;
        &:hover, &:focus{
            &::before{
                opacity: 1;
                transform: scaleX(1);
            }
        }
        &:active{
            transform: none;
            &::before{
                transition: transform .1s ease-in-out;
                transform: scaleX(0);
            }
        }
        &::before{
            @include button-bg-slide(5px, calc(100% - 10px), 2px, 0px, center, $primary-light-pink);
        }
    }
    &--get-started{
        margin: 1rem auto;
        transition: background-position 1s ease-out,
                    transform .25s ease-out;
        font-weight: 600;
        padding: .8rem 2rem;
        color: white;
        border:0;
        background-image: $gradient-button;
        background-size: 200%;
        background-position: left;
        &:hover, &:focus{
            transition: background-position 1s ease-out;
            background-position: right;
        }
    }
    &--newsteller{
        margin-left: auto;
        width: 50%;
        transition: all .5s cubic-bezier(0.68, 0.55, 0.265, 1);
        font-weight: 700;
        // padding: .5rem 1.5rem;
        padding: .7rem 0rem;
        border: 0;
        color: $primary-pink;
        border-radius: 5px;
        background-color: white;
        box-shadow: none;
        z-index: 99;
        &:hover{
            color: white;
            &::before{
                transform: scale(1);
                opacity: 1;
            }
        }
        &::before{
            @include button-bg-slide(0px, 100%, 100%, 5px, left, $primary-pink)
        }
    }
}