$primary-pink: hsl(322, 100%, 66%);
$primary-light-pink: hsl(321, 100%, 78%);
$primary-light-red: hsl(0, 100%, 63%);
$neutral-very-dark-cyan: hsl(192, 100%, 9%);
$neutral-very-pale-blue: hsl(207, 100%, 98%);